html, body{
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

#root {
    height: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100 */
    background: rgb(30,87,153); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(30,87,153,1) 0%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(30,87,153,1) 0%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(30,87,153,1) 0%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.App {
    padding: 2em;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 0 10px 0 rgba(30,87,153,1);
}

input {
    padding: 1em;
    border-radius: 10px;
    border: 0;
    vertical-align: center;
}

label {
    display: inline-block;
    vertical-align: middle;
}
